@charset "UTF-8";
table {
width: 60%;
border: 1px solid black;
border-collapse: collapse;
}
th {
text-align: left;
}
img {
width: 50%;
}
div.div1 {
height: 350px;
}
div.clear span {
padding: 10px;
margin: 10px 20px;
}
span.span2 {
font-size: 25px;
}
span.span1 {
color: gray;
font-weight: bold;
}
p {
margin: 10px 0;
}
p.p1 {
margin-bottom: 0;
}
p.p2 {
margin-top: 0;
}
div.clear {
padding: 10px 0;
}
.float {
float: left;
}
.clear {
clear: right;
}
.dtable {
padding: 10px;
}
table.dtable {
margin: 10px 0;
}
.main {
width: 60%;
margin: 0 20%;
position: relative;
}
.main div {
width: 100%;
}
.pay {
position: fixed;
left: 65%;
top: 0;
}